.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--shadow);
  z-index: 10;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 1rem;
    font-weight: 800;
    margin: 0;
    padding: 0;
  }

  &__color-mode {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  &__color-text {
    font-weight: 600; 
  }
}